@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model int
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <img class="img-75" src="@Url.Action("GetImage", "Home", new { id = Model })">
        <div class="form-group">
            <div class="col-3 offset-4">
                <form id="qnaForm" on>
                    <input type="text" class="form-control" id="answer" name="ans" placeholder="Answer...">
                    <button type="button" onclick="submitAnswer(@Model)" class="btn btn-primary m-2" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Please login to continue</h1>
</div>
}
